body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
}

p, a {
    font-size: 16px;
}

a {
    color: #0077ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer, main {
    margin-bottom: 20px;
}
